<%- include('../header/head.ejs') %>

    <body>
        <!-- sidebar start here -->
        <div class="flex overflow-hidden">
            <%- include('../sidenav/sidenav.ejs') %>
                <div class="page-content bg-white relative">
                    <!-- header Start -->
                    <%- include('../header/header.ejs') %>
                        <form action="/admin/pages/edit/<%= page._id %>" method="POST"
                            enctype="application/x-www-form-urlencoded">
                            <input type="hidden" name="_method" value="PUT">
                            <!-- main content start here -->
                            <div id="top-bttns" class="flex justify-end gap-2 py-5 bg-white border-b shadow-sm">
                                <button type="button" aria-disabled="true"
                                    class="py-2 px-4 text-[#949494] cursor-not-allowed" aria-label="Save draft"
                                    onclick="setStatus('Draft')">Save draft</button>
                                <button type="button" aria-disabled="true" aria-expanded="false"
                                    class="py-2 px-4 text-white bg-[#007BFF] rounded-lg cursor-not-allowed opacity-25"
                                    onclick="setStatus('Published')">Publish</button>

                                <input type="hidden" name="status" id="status" value="<%= page.status %>">

                                <%- include('../sidenav/data-simplebar.ejs') %>
                            </div>
                            <div class="">
                                <main class="py-8 px-5">
                                    <div class="max-w-3xl mx-auto">
                                        <!-- add Page_name -->
                                        <div class="form-group mb-6">
                                            <label class="mb-3 text-lg" for="page_name">Page Name</label>
                                            <input name="page_name" id="page_name" type="text"
                                                class="form-input bg-[#F0F7FA] border-0 mb-3"
                                                placeholder="Enter Page Name" value="<%= page.page_name %>">
                                        </div>
                                        <!-- categories -->
                                        <div class="mb-6 form-group">
                                            <label class="mb-3 text-lg" for="category">Category</label>
                                            <select name="category" id="category"
                                                class="form-input bg-[#F0F7FA] border-0 mb-3">
                                                <option value="">Select a category</option>
                                                <option value="words-that-start-with">Words That Start With</option>
                                                <option value="words-that-end-in">Words That End In</option>
                                                <option value="words-by-length">Words By Length</option>
                                                <option value="words-with-letters">Words With Letters</option>
                                                <option value="none-of-them">none-of-them</option>
                                            </select>
                                        </div>

                                        <!-- page_router -->
                                        <div class="mb-6 form-group">
                                            <label class="mb-3 text-lg" for="page_router">Page slug</label>
                                            <input name="page_router" id="page_router" type="text"
                                                class="form-input bg-[#F0F7FA] border-0 mb-3"
                                                placeholder="Enter Page slug" value="<%= page.page_router %>">
                                        </div>

                                        <!-- add Page Description -->
                                        <div class="mb-6">
                                            <label class="mb-3 text-lg" for="sub_heading">Add Sub Description</label>
                                            <textarea name="sub_heading" id="content"
                                                class="form-input bg-[#F0F7FA] border-0" cols="30" rows="6"
                                                placeholder="Add Sub Description"><%= page.sub_heading %></textarea>
                                        </div>

                                        <!-- add Description -->
                                        <div class="mb-6">
                                            <label class="mb-3 text-lg" for="content">Add Description</label>
                                            <textarea name="content" id="content"
                                                class="form-input bg-[#F0F7FA] border-0" cols="30" rows="6"
                                                placeholder="Add Content"><%= page.content %></textarea>

                                        </div>

                                        <!-- show search -->
                                        <div class="flex items-center mb-6 customCheckBox font-semibold border border-[#ccc] rounded-md text-xl p-4 bg-[#f0f7fa]">
                                            <input type="hidden" name="show_search" value="false">
                                            <input id="show_search" name="show_search" type="checkbox" value="true"
                                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2"
                                                <%=page.show_search ? 'checked' : '' %>>
                                                <label for="show_search" class="text-lg font-medium text-gray-900">Enable Search Banner</label>
                                        </div>

                                        <!-- add section -->
                                        <div class="flex flex-col gap-6 md:flex-row">
                                            <div class="w-full groupSection md:w-2/4">
                                                <div
                                                    class="cardHeader font-semibold text-white text-xl p-4 bg-[#007bff] text-center">
                                                    Choose Section
                                                </div>
                                                <div class="bg-[#f0f7fa] p-6">
                                                    <select id="mySelect" class="w-full py-5 border rounded"
                                                        multiple="multiple" name="sections">
                                                        <!-- Check if sections exist for the page -->
                                                        <% if (sections && sections.length> 0) { %>
                                                            <% sections.forEach((section)=> { %>
                                                                <option value="<%= section._id %>"
                                                                    <%=page.sections.some(pageSection=>
                                                                    pageSection._id.equals(section._id)) ? 'selected' :
                                                                    '' %> >
                                                                    <%= section.title %>
                                                                </option>
                                                                <% }); %>
                                                                    <% } else { %>
                                                                        <option disabled>No sections found</option>
                                                                        <% } %>
                                                    </select>
                                                    <input type="hidden" name="sections" id="selectedSectionsInput">
                                                </div>
                                            </div>

                                            <div class="w-full choosenSection md:w-2/4">
                                                <div
                                                    class="cardHeader font-semibold text-white text-xl p-4 bg-[#007bff] text-center">
                                                    Chosen Section
                                                </div>
                                                <div class="bg-[#f0f7fa] p-6">
                                                    <ul id="selectedValuesList">
                                                        <% if (Array.isArray(page.sections)) { %>
                                                            <% page.sections.forEach((section)=> { %>
                                                                <li>
                                                                    <%= section.title %>
                                                                </li>
                                                                <% }); %>
                                                                    <% } else { %>
                                                                        <li>No sections found</li>
                                                                        <% } %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- add sections end -->
                                        <!-- seo tabs start -->
                                        <nav id="seoTabs" class="flex md:pl-3 md:ml-4 ml-2 mt-8" aria-label="Tabs"
                                            role="tablist">
                                            <button type="button"
                                                class="hs-tabs bg-white py-2 md:px-5 px-4 inline-flex items-center gap-2 border transition-all whitespace-nowrap hover:text-[#007bff] text-lg rounded-tl-[5px] active"
                                                id="home-item-3" data-hs-tab="#home-3" aria-controls="home-3"
                                                role="tab">
                                                <span class="">SEO</span>
                                            </button>
                                        </nav>

                                        <div class="border mt-[-1px] rounded-[5px]">
                                            <div id="home-3" class="p-6" role="tabpanel" aria-labelledby="home-item-3">
                                                <div class="form-group mb-6">
                                                    <label class="mb-3 text-sm" for="seoTitle">SEO Title</label>
                                                    <input name="seoTitle" id="seoTitle" type="text"
                                                        class="form-input bg-[#F0F7FA] border-0 mb-3"
                                                        placeholder="Enter SEO Title" value="<%= page.seoTitle %>">
                                                </div>

                                                <div class="form-group mb-6">
                                                    <label class="mb-3 text-sm" for="seoMetaDescription">Meta
                                                        description</label>
                                                    <textarea id="seoMetaDescription" name="seoMetaDescription"
                                                        class="form-input bg-[#F0F7FA] border-0 mb-3"><%= page.metaDescription %></textarea>
                                                </div>
                                                <div class="form-group mb-6">
                                                    <label class="mb-3 text-sm" for="searchEngines">Allow search engines
                                                        to show this content in search results?</label>
                                                    <select class="form-select bg-[#F0F7FA] border-0 mb-3"
                                                        id="searchEngines" name="searchEngines">
                                                        <option value="0" <%=page.searchEngines===0 ? 'selected' : '' %>
                                                            >Yes (current default for Pages)</option>
                                                        <option value="1" <%=page.searchEngines===1 ? 'selected' : '' %>
                                                            >No</option>
                                                        <option value="2" <%=page.searchEngines===2 ? 'selected' : '' %>
                                                            >Yes</option>
                                                    </select>
                                                </div>

                                                <div class="form-group mb-6">
                                                    <label class="mb-3 text-sm">Should search engines follow links on
                                                        this content?</label>
                                                    <div class="flex gap-x-6">
                                                        <div class="flex items-center">
                                                            <input type="radio" name="hs-radio-group"
                                                                class="shrink-0 mt-0.5 border-gray-200 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                                                                id="hs-radio-group-1" <%=page.hsRadioGroup==='Yes'
                                                                ? 'checked' : '' %>>
                                                            <label for="hs-radio-group-1"
                                                                class="text-sm text-gray-500 ms-2">Yes</label>
                                                        </div>
                                                        <div class="flex items-center">
                                                            <input type="radio" name="hs-radio-group"
                                                                class="shrink-0 mt-0.5 border-gray-200 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                                                                id="hs-radio-group-2" <%=page.hsRadioGroup==='No'
                                                                ? 'checked' : '' %>>
                                                            <label for="hs-radio-group-2"
                                                                class="text-sm text-gray-500 ms-2">No</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group mb-6">
                                                    <label class="mb-3 text-sm" for="metaRobots">Meta robots
                                                        advanced</label>
                                                    <select class="form-select bg-[#F0F7FA] border-0 mb-3"
                                                        id="metaRobots" name="metaRobots">
                                                        <option value="0" <%=page.metaRobots===0 ? 'selected' : '' %>>No
                                                            Image Index</option>
                                                        <option value="1" <%=page.metaRobots===1 ? 'selected' : '' %>>No
                                                            Archive</option>
                                                        <option value="2" <%=page.metaRobots===2 ? 'selected' : '' %>>No
                                                            Snippet</option>
                                                    </select>
                                                </div>
                                                <div class="form-group mb-6">
                                                    <label class="mb-3 text-sm" for="breadcrumbsTitle">Breadcrumbs
                                                        Title</label>
                                                    <input name="breadcrumbsTitle" id="breadcrumbsTitle" type="text"
                                                        value="<%= page.breadcrumbsTitle %>"
                                                        class="form-input bg-[#F0F7FA] border-0 mb-3">
                                                </div>
                                                <div class="form-group">
                                                    <label class="mb-3 text-sm" for="canonicalURL">Canonical URL</label>
                                                    <input name="canonicalURL" id="canonicalURL" type="text"
                                                        value="<%= page.canonicalURL %>"
                                                        class="form-input bg-[#F0F7FA] border-0 mb-3">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </main>
                            </div>

                            <!-- main content end here -->
                        </form>
                </div>
        </div>
        <!-- sidebar end here -->
        <%- include('../script/script.ejs') %>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function () {
                    var isCategoryChange = false;

                    $('#category').on('change', function () {
                        isCategoryChange = true;
                        updateRouter();
                    });

                    $('#page_router').on('input', function () {
                        if (isCategoryChange) {
                            isCategoryChange = false;
                        } else {
                            return;
                        }
                    });

                    function updateRouter() {
                        var category = $('#category').val();
                        var dynamicValue = $('#page_router').val();

                        if (category === 'none-of-them') {
                            return;
                        }
                        var router;
                        switch (category) {
                            case 'words-that-start-with':
                                router = 'words-that-start-with/' + dynamicValue;
                                break;
                            case 'words-that-end-in':
                                router = 'words-that-end-in/' + dynamicValue;
                                break;
                            case 'words-by-length':
                                router = '' + dynamicValue + '-letter-words';
                                break;
                            case 'words-with-letters':
                                router = 'words-with/' + dynamicValue;
                                break;
                            default:
                                router = '';
                        }

                        $('#page_router').val(router);
                    }
                });
                function setStatus(status) {
                    document.getElementById('status').value = status;
                    // Trigger form submission
                    document.querySelector('form').submit();
                }

                $(document).ready(function () {
                    new FroalaEditor('#content');

                    // Trigger the change event for the dropdown after the page loads
                    $('#mySelect').trigger('change');


                    $('#mySelect').on('change', function () {
                        // Clear the current list
                        $('#selectedValuesList').empty();

                        // Update the list with the selected sections
                        var selectedSections = $(this).val();

                        if (selectedSections) {
                            // Append the section titles to the list
                            selectedSections.forEach(function (sectionId) {
                                // Use the "selectedSections" array to find the corresponding section
                                var section = $('#mySelect option[value="' + sectionId + '"]');
                                var sectionTitle = section.text(); // Get the section title
                                $('#selectedValuesList').append('<li>' + sectionTitle + '</li>');
                            });
                        }
                        // Update the hidden input field with cleaned sections
                        $('#selectedSectionsInput').val(JSON.stringify(selectedSections));
                    });
                });
            </script>
    </body>
    </html>