<!-- edit-section.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        h1 {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 20px;
            border-radius: 8px;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
    <title>Edit Section</title>
</head>
<body>
    <h1>Edit Section</h1>

    <form action="/section/edit/<%= section._id %>?_method=PUT" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= section.title %>" required>
    
        <label for="subHeading">Sub Heading:</label>
        <input type="text" id="subHeading" name="subHeading" value="<%= section.subHeading %>" required>
    
        <label for="image">Image:</label>
        <input type="text" id="image" name="image" value="<%= section.image %>" required>

        <label for="imagePosition">Image Position:</label>
        <select id="imagePosition" name="imagePosition" required>
            <option value="center" <%= section.imagePosition === 'center' ? 'selected' : '' %>>Center</option>
            <option value="right" <%= section.imagePosition === 'right' ? 'selected' : '' %>>Right</option>
            <option value="left" <%= section.imagePosition === 'left' ? 'selected' : '' %>>Left</option>
        </select>
        <button type="submit">Update Section</button>
    </form>
</body>
</html>
