<!-- views/section/show-page.ejs -->
<%- include('../header/head.ejs') %>

    <body>
        <!-- sidebar start here -->
        <div class="flex overflow-hidden">
            <!-- Sidenav Menu Start  -->
            <%- include('../Sidenav/Sidenav.ejs') %>

                <div class="page-content bg-white">
                    <!-- header Start -->
                    <%- include('../header/header.ejs') %>

                        <% if (section) { %>
                            <div class="relative px-5 py-8">
                                <% if (section.imagePosition === 'center') { %>
                                    <div class="mb-6">
                                        <div class="mb-3">
                                            <h2 class="text-2xl font-bold text-black mb-2">
                                                <%= section.title %>
                                            </h2>
                                            <p class="text-lg">
                                                <%= section.subHeading %>
                                            </p>
                                        </div>
                                        <div class="mb-6">
                                            <p>
                                                <%- section.content %>
                                            </p>
                                        </div>
                                        <div class="w-full text-center">
                                            <img src="data:image/jpeg;base64,<%= section.image %>" alt="Section Image" class="mx-auto" />
                                        </div>
                                    </div>
                                    <% } else if (section.imagePosition === 'left') { %>

                                        <div class="mb-6 flex flex-col md:flex-row gap-6">
                                            <div class="md:w-1/2 w-full">
                                                <img src="data:image/jpeg;base64,<%= section.image %>" alt="Section Image" />
                                            </div>
                                            <div class="md:w-1/2 w-full">
                                                <div class="mb-3">
                                                    <h2 class="text-2xl font-bold text-black mb-2">
                                                        <%= section.title %>
                                                    </h2>
                                                    <p class="text-lg">
                                                        <%= section.subHeading %>
                                                    </p>
                                                </div>
                                                <p>
                                                    <%- section.content %>
                                                </p>
                                            </div>
                                        </div>
                                        <% } else if (section.imagePosition === 'right') { %>
                                            <div class="mb-6 flex flex-col md:flex-row gap-6">
                                                <div class="md:w-1/2 w-full">
                                                    <div class="mb-3">
                                                        <h2 class="text-2xl font-bold text-black mb-2">
                                                            <%= section.title %>
                                                        </h2>
                                                        <p class="text-lg">
                                                            <%= section.subHeading %>
                                                        </p>
                                                    </div>
                                                    <p>
                                                        <%- section.content %>
                                                    </p>
                                                </div>
                                                <div class="md:w-1/2 w-full">
                                                    <img src="data:image/jpeg;base64,<%= section.image %>" alt="Section Image" />
                                                </div>
                                            </div>
                                            <% } %>
                                                <% } %>
                            </div>
                            <%- include('../script/script.ejs') %>
                </div>
        </div>
    </body>

    </html>