<!-- views/section/show-page.ejs -->
<%- include('../header/head.ejs') %>
    <body>
        <!-- sidebar start here -->
        <div class="flex overflow-hidden">
            <%- include('../sidenav/sidenav.ejs') %>
                <div class="page-content bg-white">

                    <%- include('../header/header.ejs') %>

            <!-- main content start here -->
            <main class="py-8 px-5">
                <div class="mb-4">
                    <h2 class="text-3xl font-bold text-black mb-2">
                        <h1><%= page.page_name %></h1>
                    </h2>
                    <p class="text-lg"><%- page.content %></p>
                </div>
                <% page.sections.forEach(function(section) { %>
                    <% if (section) { %>
                        <div class="relative px-5 py-8">
                            <% if (section.imagePosition === 'center') { %>
                                <div class="mb-6">
                                    <div class="mb-3">
                                        <h2 class="text-2xl font-bold text-black mb-2">
                                            <%= section.title %>
                                        </h2>
                                        <p class="text-lg">
                                            <%= section.subHeading %>
                                        </p>
                                    </div>
                                    <div class="mb-6">
                                        <p>
                                            <%- section.content %>
                                        </p>
                                    </div>
                                    <div class="w-full text-center">
                                        <img src="<%= section.image %>" alt="Section Image" class="mx-auto" />
                                    </div>
                                </div>
                                <% } else if (section.imagePosition === 'left') { %>

                                    <div class="mb-6 flex flex-col md:flex-row gap-6">
                                        <div class="md:w-1/2 w-full">
                                            <img src="<%= section.image %>" alt="Section Image" />
                                        </div>
                                        <div class="md:w-1/2 w-full">
                                            <div class="mb-3">
                                                <h2 class="text-2xl font-bold text-black mb-2">
                                                    <%= section.title %>
                                                </h2>
                                                <p class="text-lg">
                                                    <%= section.subHeading %>
                                                </p>
                                            </div>
                                            <p>
                                                <%- section.content %>
                                            </p>
                                        </div>
                                    </div>
                                    <% } else if (section.imagePosition === 'right') { %>
                                        <div class="mb-6 flex flex-col md:flex-row gap-6">
                                            <div class="md:w-1/2 w-full">
                                                <div class="mb-3">
                                                    <h2 class="text-2xl font-bold text-black mb-2">
                                                        <%= section.title %>
                                                    </h2>
                                                    <p class="text-lg">
                                                        <%= section.subHeading %>
                                                    </p>
                                                </div>
                                                <p>
                                                    <%- section.content %>
                                                </p>
                                            </div>
                                            <div class="md:w-1/2 w-full">
                                                <img src="<%= section.image %>" alt="Section Image" />
                                            </div>
                                        </div>
                                        <% } %>
                                            <% } %>
                  <% }); %>
            </main>
            <!-- main content end here -->
        </div>
    </div>
    <%- include('../script/script.ejs') %>
</body>
</html>
