<%- (include('../frontend/head/head.ejs')) %>
<body class="font-custom">
    <!-- header start here -->
    <%- (include('../frontend/head/header.ejs')) %>
    <!-- header end here -->
    <div class="bg-[#DBF4FF]">
        <div class="container">
            <div class="flex flex-wrap max-w-screen-md pt-10 pb-10 mx-auto md:pt-20 md:pb-20">
                <div class="flex flex-wrap items-center justify-center w-full align-middle">
                    <h1 class="block text-[#393939] text-5xl sm:text-7xl font-semibold mb-3 text-center"> Word Finder</h1>
                    <p class="block w-full text-center">
                        Enter up to 15 letters and up to 2 wildcards (? or space).
                    </p>
                    <form id="search-main" class="w-full mt-8 mb-6" action="/search" method="post">
                        <div class="input-group MainSearch border rounded-[20px] border-[#007BFF] overflow-hidden bg-white sm:py-4 py-2 text-center">
                            <input type="text" name="letters" class="w-2/5 border-0 sm:w-4/6 md:w-2/3 main-search-input sm:text-lg focus:outline-none" placeholder="Type Letters ..." aria-label="Letters" aria-describedby="dictionary-select-field">
                            <span class="p-0 border-0 input-group-text" id="dictionary-select-field">
                          <select class="py-2 text-sm bg-white border-0 ps-2 pe-[30px] sm:text-lg focus:outline-none" aria-label="Default select example" name="scrabble_type">
                             <option value="wwf" selected="">Words With Friends</option>
                             <option value="us">Scrabble US</option>
                             <option value="uk">Scrabble UK</option>
                             <option value="all_en">All Dictionaries</option>
                          </select>
                       </span>
                        </div>
                        <div class="w-full mb-4 hs-accordion-group">
                            <%- (include('../frontend/search/advance_search.ejs')) %>
                        </div>
                        <button type="submit" class="w-full py-4 bg-buttonPrimary rounded-[10px] text-white hover:opacity-50">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- content section start -->
    <div class="pt-10 pb-10 bg-white md:pt-20 md:pb-20">
        <div class="container">
            <div class="flex flex-col gap-8 md:flex-row">
                <!-- left col start -->
                <%- (include('../frontend/left_col/left_col.ejs')) %>
                <!-- left col end -->
                <!-- right col start -->
                <div class="w-full md:w-1/3">
                    <!-- Word Finders -->
                    <%- (include('../frontend/right_col/word_finder.ejs')) %>
                    <!-- Play Games -->
                    <%- (include('../frontend/right_col/play_games.ejs')) %>
                    <!-- Dictionaries -->
                    <%- (include('../frontend/right_col/Dictionaries.ejs')) %>
                    <!-- List of Words -->
                    <%- (include('../frontend/right_col/list_of_words.ejs')) %>
                    <!-- Words By Length -->
                    <%- (include('../frontend/right_col/words_of_length.ejs')) %>
                    <!-- Latest Article -->
                    <%- (include('../frontend/right_col/latest_article.ejs')) %>
                </div>
                <!-- right col end -->
            </div>
        </div>
    </div>
    <!-- content section end -->
    <!-- footer start  -->
    <%- (include('../frontend/footer/footer.ejs')) %>
    <!-- footer end  -->
<%- (include('../frontend/script/script.ejs')) %>
