<%- (include('../frontend/head/head.ejs')) %>
<body class="font-custom">
    <!-- header start here -->
    <%- (include('../frontend/head/header.ejs')) %>
    <!-- header end here -->
    <!-- main advance search form start -->
    <div class="bg-[#DBF4FF]">
        <div class="container">
            <div class="flex flex-wrap max-w-screen-md pt-10 pb-10 mx-auto md:pt-20 md:pb-20">
                <div class="flex flex-wrap items-center justify-center w-full align-middle">
                    <h1 class="block text-[#393939] text-2xl sm:text3xl font-semibold mb-3 text-center"> Word Finder</h1>
                    <p class="block w-full text-center">
                        Enter up to 15 letters and up to 2 wildcards (? or space).
                    </p>
                    <form id="search-main" class="w-full mt-8 mb-6" action="javascript:void(0);" method="post">
                        <div class="input-group MainSearch border rounded-[10px] border-[#007BFF] overflow-hidden bg-white py-2 text-center">
                            <input type="text" name="letters" class="w-2/5 border-0 sm:w-4/6 md:w-2/3 main-search-input sm:text-lg focus:outline-none" placeholder="Type Letters ..." aria-label="Letters" aria-describedby="dictionary-select-field">
                            <span class="p-0 border-0 input-group-text" id="dictionary-select-field">
                                <select class="py-2 text-sm bg-white border-0 ps-2 pe-[30px] sm:text-lg focus:outline-none" aria-label="Default select example" name="scrabble_type">
                                    <option value="wwf" selected="">Words With Friends</option>
                                    <option value="us">Scrabble US</option>
                                    <option value="uk">Scrabble UK</option>
                                    <option value="all_en">All Dictionaries</option>
                                </select>
                            </span>
                        </div>

                        <div class="w-full mb-4 hs-accordion-group">
                                <%- (include('../frontend/search/advance_search.ejs')) %>
                        </div>
                        <button type="submit" class="w-full py-4 bg-buttonPrimary rounded-[10px] text-white hover:opacity-50">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- main advance search form end -->

    <!-- content section start -->
    <div class="pt-10 pb-10 bg-white md:pt-20 md:pb-20">
        <div class="container">
            <div class="flex flex-col gap-8 md:flex-row">
                <!-- left col start -->
                <div class="w-full md:w-2/3">

                    <!-- letters is playable! box start -->
                    <div class="flex items-center border border-[#007BFF4D] rounded-[20px] md:p-[40px] p-[30px] mb-8">
                        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="27" viewBox="0 0 38 27" fill="none">
                            <path d="M34.364 0.00011484C28.0751 6.2955 20.7692 13.5711 14.3051 20.0356L3.31663 10.7161L0 14.6074L12.7866 25.4632L14.5847 27L16.2628 25.3238C23.0779 18.502 31.1763 10.4426 38 3.61209L34.3636 0L34.364 0.00011484Z" fill="#007BFF"/>
                          </svg>
                        <h2 class="text-3xl font-semibold sm:text-4xl ms-5">letters is playable!</h2>
                    </div>

                    <!-- 7 Letter Words box start -->
                    <div class="w-full mb-8">
                        <div class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative">
                            7 Letter Words

                            <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="leftHandle ">
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                        <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                                    </svg>

                            <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="rightHandle ">
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                        <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                                    </svg>
                        </div>
                        <div class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] pt-[45px]">
                            <div class="flex flex-wrap gap-3 tagsMain" id="words_card_5">
                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    letters
                                    <span class="text-[#6C757D] text-xs font-medium">8</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    settler
                                    <span class="text-[#6C757D] text-xs font-medium">8</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    sterlet
                                    <span class="text-[#6C757D] text-xs font-medium">8</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    trestle
                                    <span class="text-[#6C757D] text-xs font-medium">8</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- 6 Letter Words box start -->
                    <div class="w-full mb-8">
                        <div class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative">
                            6 Letter Words

                            <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="leftHandle ">
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                        <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                                    </svg>

                            <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="rightHandle ">
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                        <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                                    </svg>
                        </div>
                        <div class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] pt-[45px]">
                            <div class="flex flex-wrap gap-3 tagsMain" id="words_card_5">
                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    letter
                                    <span class="text-[#6C757D] text-xs font-medium">7</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    relets
                                    <span class="text-[#6C757D] text-xs font-medium">7</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    settle
                                    <span class="text-[#6C757D] text-xs font-medium">7</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    streel
                                    <span class="text-[#6C757D] text-xs font-medium">7</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    retest
                                    <span class="text-[#6C757D] text-xs font-medium">6</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    setter
                                    <span class="text-[#6C757D] text-xs font-medium">6</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    street
                                    <span class="text-[#6C757D] text-xs font-medium">6</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    tester
                                    <span class="text-[#6C757D] text-xs font-medium">6</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- 5 Letter Words box start -->
                    <div class="w-full mb-8">
                        <div class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative">
                            5 Letter Words

                            <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="leftHandle ">
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                        <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                                    </svg>

                            <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="rightHandle ">
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                        <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                                    </svg>
                        </div>
                        <div class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] pt-[45px]">
                            <div class="flex flex-wrap gap-3 tagsMain" id="words_card_5">
                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    leers
                                    <span class="text-[#6C757D] text-xs font-medium">6</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    leets
                                    <span class="text-[#6C757D] text-xs font-medium">6</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    reels
                                    <span class="text-[#6C757D] text-xs font-medium">6</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    relet
                                    <span class="text-[#6C757D] text-xs font-medium">6</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    sleet
                                    <span class="text-[#6C757D] text-xs font-medium">6</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    steel
                                    <span class="text-[#6C757D] text-xs font-medium">6</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    stele
                                    <span class="text-[#6C757D] text-xs font-medium">6</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    teels
                                    <span class="text-[#6C757D] text-xs font-medium">6</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    teles
                                    <span class="text-[#6C757D] text-xs font-medium">6</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    ester
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    reest
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    reset
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    steer
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    stere
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    teres
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    terse
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    terse
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    trees
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    trets
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- 4 Letter Words box start -->
                    <div class="w-full mb-8">
                        <div class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative">
                            4 Letter Words

                            <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="leftHandle ">
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                        <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                                    </svg>

                            <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="rightHandle ">
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                        <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                                    </svg>
                        </div>
                        <div class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] pt-[45px]">
                            <div class="flex flex-wrap gap-3 tagsMain" id="words_card_5">
                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    eels
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    else
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    leer
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    lees
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    leet
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    lest
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    lets
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    reel
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    seel
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    teel
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    tele
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    tels
                                    <span class="text-[#6C757D] text-xs font-medium">5</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    erst
                                    <span class="text-[#6C757D] text-xs font-medium">4</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    etre
                                    <span class="text-[#6C757D] text-xs font-medium">4</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    rees
                                    <span class="text-[#6C757D] text-xs font-medium">4</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    rest
                                    <span class="text-[#6C757D] text-xs font-medium">4</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    rete
                                    <span class="text-[#6C757D] text-xs font-medium">4</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    rets
                                    <span class="text-[#6C757D] text-xs font-medium">4</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    seer
                                    <span class="text-[#6C757D] text-xs font-medium">4</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    sere
                                    <span class="text-[#6C757D] text-xs font-medium">4</span>
                                </button>

                                <!-- view more content -->
                                <div id="hs-show-hide-collapse-heading" class="hs-collapse hidden w-full overflow-hidden transition-[height] duration-300 gap-3 flex flex-wrap" aria-labelledby="hs-show-hide-collapse">
                                    <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                        sere
                                        <span class="text-[#6C757D] text-xs font-medium">4</span>
                                     </button>
                                    <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                        sere
                                        <span class="text-[#6C757D] text-xs font-medium">4</span>
                                     </button>
                                    <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                        sere
                                        <span class="text-[#6C757D] text-xs font-medium">4</span>
                                     </button>
                                </div>

                            </div>

                            <div class="mt-6 text-center">
                                <a href="javascript:void(0);" class="hs-collapse-toggle text-white bg-[#007BFF] rounded-[10px] py-4 px-6 hover:opacity-50 inline-block" id="hs-show-hide-collapse" data-hs-collapse="#hs-show-hide-collapse-heading">
                                    <span class="hs-collapse-open:hidden">View More</span>
                                    <span class="hidden hs-collapse-open:block">View less</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- 3 Letter Words box start -->
                    <div class="w-full mb-8">
                        <div class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative">
                            3 Letter Words

                            <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="leftHandle ">
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                        <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                                    </svg>

                            <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="rightHandle ">
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                        <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                                    </svg>
                        </div>
                        <div class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] pt-[45px]">
                            <div class="flex flex-wrap gap-3 tagsMain" id="words_card_5">
                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    eel
                                    <span class="text-[#6C757D] text-xs font-medium">4</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    els
                                    <span class="text-[#6C757D] text-xs font-medium">4</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    lee
                                    <span class="text-[#6C757D] text-xs font-medium">4</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    let
                                    <span class="text-[#6C757D] text-xs font-medium">4</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    sel
                                    <span class="text-[#6C757D] text-xs font-medium">4</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    tel
                                    <span class="text-[#6C757D] text-xs font-medium">4</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    ere
                                    <span class="text-[#6C757D] text-xs font-medium">3</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    ers
                                    <span class="text-[#6C757D] text-xs font-medium">3</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    ese
                                    <span class="text-[#6C757D] text-xs font-medium">3</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    ree
                                    <span class="text-[#6C757D] text-xs font-medium">3</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    res
                                    <span class="text-[#6C757D] text-xs font-medium">3</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    ret
                                    <span class="text-[#6C757D] text-xs font-medium">3</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    see
                                    <span class="text-[#6C757D] text-xs font-medium">3</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    ser
                                    <span class="text-[#6C757D] text-xs font-medium">3</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    set
                                    <span class="text-[#6C757D] text-xs font-medium">3</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    tee
                                    <span class="text-[#6C757D] text-xs font-medium">3</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    tet
                                    <span class="text-[#6C757D] text-xs font-medium">3</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- 2 Letter Words box start -->
                    <div class="w-full mb-8">
                        <div class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative">
                            2 Letter Words

                            <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="leftHandle ">
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                        <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                                    </svg>

                            <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="rightHandle ">
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                        <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                                    </svg>
                        </div>
                        <div class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] pt-[45px]">
                            <div class="flex flex-wrap gap-3 tagsMain" id="words_card_5">
                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    el
                                    <span class="text-[#6C757D] text-xs font-medium">3</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    ee
                                    <span class="text-[#6C757D] text-xs font-medium">2</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    er
                                    <span class="text-[#6C757D] text-xs font-medium">2</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    et
                                    <span class="text-[#6C757D] text-xs font-medium">2</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    re
                                    <span class="text-[#6C757D] text-xs font-medium">2</span>
                                </button>

                                <button type="button" class="border border-[#007BFF] rounded-[10px] py-3 font-semibold px-4 tag text-[#007bff]">
                                    te
                                    <span class="text-[#6C757D] text-xs font-medium">2</span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- left col end -->

                <!-- right col start -->
                <div class="w-full md:w-1/3">
                    <!-- Word Finders -->
                    <div class="mb-6">
                        <div class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative">
                            Word Finders

                            <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="leftHandle ">
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                        <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                                    </svg>

                            <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="rightHandle ">
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                        <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                                    </svg>
                        </div>
                        <div class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] ps-12 pt-[45px]">
                            <ol class="space-y-3 font-medium list-decimal">
                                <li>Word Finder</li>
                                <li>Scrabble Word Finder</li>
                                <li>Words With Friends Cheat</li>
                                <li>Word Unscrambler</li>
                                <li>Anagram Solver</li>
                                <li>Word Scramble</li>
                                <li>Jumble Solver</li>
                                <li>Word Generator</li>
                                <li>Scrabble Cheat</li>
                                <li>Word Solver</li>
                                <li>Apalabrados Trucos</li>
                                <li>Wordfeud</li>
                                <li>Word Cookies Answers</li>
                                <li>Cody Cross</li>
                                <li>Text Twist</li>
                                <li>4 Pics 1 Word</li>
                                <li>Word Descrambler</li>
                                <li>Words Of Wonders</li>
                                <li>Wordscapes Answers</li>
                                <li>Scrabble Go Word Finder</li>
                            </ol>
                        </div>
                    </div>

                    <!-- Dictionaries -->
                    <div class="mb-6">
                        <div class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative">
                            Dictionaries

                            <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="leftHandle ">
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                        <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                                    </svg>

                            <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="rightHandle ">
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                        <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                                    </svg>
                        </div>
                        <div class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] ps-12 pt-[45px]">
                            <ol class="space-y-3 font-medium list-decimal">
                                <li>Words With Friends Dictionary</li>
                                <li>Scrabble Dictionary</li>
                            </ol>
                        </div>
                    </div>

                    <!-- List of Words -->
                    <div class="mb-6">
                        <div class="cardHeader font-semibold text-white text-xl p-6 bg-[#007bff] text-center relative">
                            List of Words

                            <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="leftHandle ">
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                        <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                                    </svg>

                            <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="44 " viewBox="0 0 10 44 " fill="none " class="rightHandle ">
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 39) " fill="#0656AC "></circle>
                                        <circle r="5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 5 5) " fill="#0656AC "></circle>
                                        <rect x="-0.5 " y="-0.5 " width="35 " height="3 " rx="1.5 " transform="matrix(4.37114e-08 1 1 -4.37114e-08 4 5) " fill="white " stroke="#0656AC "></rect>
                                    </svg>
                        </div>
                        <div class="bg-[#f0f7fa] rounded-bl-[16px] rounded-br-[16px] p-[30px] ps-12 pt-[45px]">
                            <ol class="space-y-3 font-medium list-decimal">
                                <li>All Consonant Words</li>
                                <li>Vowel Words</li>
                                <li>Words By Length</li>
                                <li>Words Ending In</li>
                                <li>Words Start With</li>
                                <li>Words With Letters</li>
                            </ol>
                        </div>
                    </div>

                </div>
                <!-- right col end -->
            </div>
        </div>
    </div>
    <!-- content section end -->

    <!-- footer start  -->
    <%- (include('../frontend/footer/footer.ejs')) %>
<!-- footer end  -->

<%- (include('../frontend/script/script.ejs')) %>