<!-- views/post/all-posts.ejs -->
<%- include('../header/head.ejs') %>

<body>
    <!-- sidebar start here -->
    <div class="flex overflow-hidden">
        <%- include('../sidenav/sidenav.ejs') %>
        <div class="page-content bg-white">

            <%- include('../header/header.ejs') %>

            <!-- main content start here -->
            <main class="py-8 px-5">
                <div class="mb-6 flex gap-3 sm:flex-row sm:items-center">
                    <h1 class="text-2xl font-bold text-black">
                        Posts
                    </h1>
                    <a href="create" class="border py-2 px-4 border-[#2271b1] rounded hover:text-[#007BFF] hover:border-[#007BFF]">Add New Posts</a>
                </div>
                <ul class="subsubsub flex flex-wrap space-x-2 mb-6">
                    <li class="all"><a href="/post/all" class="current text-black" aria-current="page">All <span class="count">(3)</span></a> |</li>
                    <li class="publish"><a href="/post/published" class="text-black">Published <span class="count">(1)</span></a> |</li>
                    <li class="trash"><a href="/post/trash" class="text-black">Trash <span class="count">(1)</span></a> |</li>
                    <li class="draft"><a href="/post/draft" class="text-black">Draft <span class="count">(1)</span></a></li>
                </ul>

                <!-- table start here -->
                <div class="bg-white overflow-x-auto">
                    <table class="w-full divide-y divide-gray-200 border" id="example">
                        <thead class="text-left bg-[#DBF4FF]">
                            <tr>
                                <th>
                                    <input type="checkbox" class="selectAll">
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Author
                                </th>
                                <th>
                                    Categories
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                            <% posts.forEach(post => { %>
                            <tr class="">
                                <td>
                                    <input type="checkbox" value="<%= post._id %>" class="">
                                </td>
                                <td>
                                    <div class="">
                                        <strong><a class="row-title text-[#2271b1] text-sm" href="javascript:void(0)"><%= post.title %></a></strong>
                                    </div>
                                    <div class="row-actions mt-1">
                                        <span class="edit"><a href="/post/edit/<%= post._id %>" class="text-[#2271b1] text-xs">Edit</a> | </span>
                                        <span class="trash"><a href="javascript:void(0)" class="trash text-[#b32d2e] text-xs" onclick="updateStatus('<%= post._id %>')">Trash</a> | </span>
                                        <span class="view"><a href="javascript:void(0)" class="text-[#2271b1] text-xs">View</a></span>
                                    </div>
                                </td>
                                <td>Admin<%= post.author %></td>
                                <td>Uncategorized</td>
                                <td>Published<br> <%= post.date.toISOString().split('T')[0] %> at <%= post.date.toISOString().split('T')[1].split('.')[0] %></td>
                            </tr>
                            <% }) %>
                        </tbody>
                        <tfoot class="text-left bg-[#DBF4FF]">
                            <tr>
                                <th>
                                    <input type="checkbox" class="selectAll">
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Author
                                </th>
                                <th>
                                    Categories
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- table end here -->
            </main>
            <!-- main content end here -->
        </div>
    </div>
    <!-- sidebar end here -->
    <script>
        function updateStatus(postId) {
            
            fetch(`/post/updateStatus/${postId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ status: 'Trash' })
            })
                .then(response => response.json())
                .then(data => {
                    // For example, you can show a success message or refresh the page
                    console.log(data);
                })
                .catch(error => {
                    // Handle any errors that occurred during the request
                    console.error(error);
                });
        }
    </script>
    <%- include('../script/script.ejs') %>


</body>
</html>
