<!-- views/post/new-post.ejs -->
<%- include('../header/head.ejs') %>

    <body class="bg-gray-100">
        <!-- sidebar start here -->
        <div class="flex overflow-hidden">
            <%- include('../sidenav/sidenav.ejs') %>
                <div class="page-content bg-white">

                    <%- include('../header/header.ejs') %>

            <!-- main content start here -->
            
            <form action="/post/create" method="post" enctype="multipart/form-data">
                                        <div id="top-bttns" class="flex justify-end gap-2 border-b py-5 shadow-sm bg-white">
                            <button type="button" aria-disabled="true" class="py-2 px-4 text-[#949494] cursor-not-allowed"
                                aria-label="Save draft" onclick="setStatus('Draft')">Save draft</button>
                            <button type="button" aria-disabled="true" aria-expanded="false"
                                class="py-2 px-4 text-white bg-[#007BFF] rounded-lg cursor-not-allowed opacity-25"
                                onclick="setStatus('Published')">Publish</button>
                            <input type="hidden" name="status" id="status" value="">
                            
                            <!-- data-simplebar -->
                            <%- include('../sidenav/data-simplebar.ejs') %>
                        </div>
                        <div class="">
                            <main class="py-8 px-5">
                                <div class="max-w-3xl mx-auto">
                                    <div class="mb-6">
                                        <label for="title" class="mb-3 text-sm">Title:<span class="text-red-600">*</span></label>
                                        <input type="text" id="title" name="title" required class="form-input bg-[#F0F7FA] border-0 mb-3">
                                    </div>
                                    <div class="mb-6">
                                        <label for="heading" class="mb-3 text-sm">Heading:<span class="text-red-600">*</span></label>
                                        <input type="text" id="heading" name="heading" required class="form-input bg-[#F0F7FA] border-0 mb-3">
                                    </div>
                                    <div class="mb-6">
                                        <label for="description" class="mb-3 text-sm">Description:<span class="text-red-600">*</span></label>
                                        <textarea id="editor" name="description" required class="form-input bg-[#F0F7FA] border-0 mb-3"></textarea>
                                    </div>
                                      <div class="mb-6">
                                        <label class="mb-3 text-sm" for="uploadImage1">Thumbnail Photo image<span class="text-red-600">*</span></label>                    <div class="uploadImg-Preview mb-6">
                        <img id="preview_img" class="object-cover" src="/images/no-image.svg" alt="Upload Image">
                    </div>
                
                    <div class="block relative">
                        <span class="absolute inset-0 opacity-100 w-40 h-12 leading-[48px] top-0 text-black bg-[#DBF4FF] rounded-lg text-center cursor-pointer">Select Image</span>
                        <input type="file" name="picture__input" id="picture__input" onchange="loadFile(event)" class="block w-40 h-12 file:text-sm file:bg-white file:px-0 file:mt-2 opacity-0" required>
                    </div>
                </div>
                <div class="form-group mb-6">
                    <label class="mb-3 text-sm" for="metaRobots">
                        Categories
                    </label>
                    <select class="form-select bg-[#F0F7FA] border-0 mb-3" id="metaRobots" name="category">
                        <% categories.forEach(category => { %>
                            <option value="<%= category._id %>"><%= category.name %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="mb-6">
                    <label class="mb-3 text-sm" for="uploadImage1">Feature image<span class="text-red-600">*</span></label>
                                        <div class="uploadImg-Preview mb-6">
                        <img id="feature_image" class="object-cover" src="/images/no-image.svg" alt="Upload Image">
                    </div>
                    <div class="block relative">
                        <span class="absolute inset-0 opacity-100 w-40 h-12 leading-[48px] top-0 text-black bg-[#DBF4FF] rounded-lg text-center cursor-pointer">Select Image</span>
                        <input type="file" name="feature_img" id="feature_img" onchange="loadFile2(event)" class="block w-40 h-12 file:text-sm file:bg-white file:px-0 file:mt-2 opacity-0" required>
                    </div>
                </div>
        <br>
            </form>
        </div>
    </main>
</div>
            </div>
</body>
     <!-- Include Froala Editor script. -->
     <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
     <script>
        let thumbnailImgSelected = false;
let featureImgSelected = false;
let publishButton = document.querySelector('.publish-button'); // Add a class to your Publish button and select it here
function checkImagesLoaded() {
    if (thumbnailImgSelected && featureImgSelected) {
        publishButton.disabled = false; // Enable the Publish button when both images have loaded
    }
}
function setStatus(status) {
    console.log('setStatus');
        // Perform validation
        let title = document.getElementById('title').value;
    let heading = document.getElementById('heading').value;
    let description = document.getElementById('editor').value;

    if (!thumbnailImgSelected || !featureImgSelected) {
        alert('Both Thumbnail Photo image and Feature image are required');
        return; // Stop the function if validation fails
    }
    if (!title || !heading || !description) {
        alert('Title, Heading, and Description are required');
        return; // Stop the function if validation fails
    }
    // Set the status and submit the form
    document.getElementById('status').value = status;
    document.querySelector('form').submit();
}
         // Initialize Froala Editor
         new FroalaEditor('#editor');

     
     </script>     
    <%- include('../script/script.ejs') %>
</html>