<%- include('../header/head.ejs') %>

    <body>
        <!-- sidebar start here -->
        <div class="flex overflow-hidden">
            <%- include('../sidenav/sidenav.ejs') %>
                <div class="bg-white page-content">
                    <%- include('../header/header.ejs') %>

                        <!-- main content start here -->
                        <main class="px-5 py-8">
                            <h2 class="mb-4 mt-8 text-3xl font-medium text-black">
                                Menus
                            </h2>
                            <div class="border border-[#B1D5FF] py-4 px-5 flex items-center justify-start gap-4 rounded-[5px]">
                                <div class="">
                                    <label for="editMenu" class="text-sm text-black font-normal">Select a menu to edit:</label>
                                </div>

                                <div class="w-64">
                                    <select name="selectedMenuId" id="select-menu-to-edit" class="w-full border border-[#B1D5FF] rounded-[5px] py-2 px-3 font-normal text-sm bg-white bg-opacity-95 appearance-none selectArrow">
                                        <% if (menus.length === 0) { %>
                                            <option>No menus exist</option>
                                        <% } else { %>
                                            <% menus.forEach((menu, index)=> { %>
                                                <option value="<%= menu._id %>" <%=selectedMenuId===menu._id.toString() ? 'selected' : '' %>>
                                                    <%= menu.menuName %>
                                                </option>
                                            <% }) %>
                                        <% } %>
                                    </select>
                                </div>
            
                                <div class="">
                                    <button id="select-button" type="button" class="selectMenuBtn py-2 w-24 text-white bg-[#007BFF] rounded-[2px] text-sm font-normal">
                                        Select
                                    </button>
                                </div>
            
                                <div class="">
                                    <span class="text-sm font-normal">or</span>
                                    <a href="javascript:void(0);" class="text-[#007bff] font-semibold underline hover:text-blue-400" id="createMenu">Create a new menu</a>.
                                </div>
                            </div>
                            <form action="/appearance/save-menu" method="POST">
                                <div class="flex flex-col gap-6 mt-7 md:flex-row">
                                    <!-- Add menu items start -->
                                    <div class="w-full md:w-2/5 ">
                                        <h2 class="mb-7 text-lg font-medium text-black">
                                            Add menu items
                                        </h2>
                                        <div id="addMenuItems"
                                            class="pb-4 bg-white disabled-Menu">
                                            <div class="hs-accordion-group">
                                                <!-- text editor start -->
                                                <div class="mb-4 hs-accordion" id="hs-basic-nested-sub-heading-one">
                                                    <button
                                                    class="hs-accordion-toggle hs-accordion-active:text-[#007bff] hover:text-[#007bff] py-4 px-4 inline-flex items-center gap-x-3 w-full justify-between text-black font-medium bg-background-gradient rounded-[5px] border border-[#B1D5FF] hs-accordion-active:rounded-b-none hs-accordion-active:border-b-0 shadow-custom"
                                                        aria-controls="hs-basic-nested-sub-collapse-one">
                                                        Pages
                                                        <svg class="block w-4 h-4 hs-accordion-active:hidden"
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round">
                                                            <path d="m6 9 6 6 6-6" />
                                                        </svg>
                                                        <svg class="hidden w-4 h-4 hs-accordion-active:block"
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round">
                                                            <path d="m18 15-6-6-6 6" />
                                                        </svg>
                                                    </button>
                                                    <div id="hs-basic-nested-sub-collapse-one"
                                                        class="hs-accordion-content w-full hidden overflow-hidden transition-[height] duration-300 px-4 border border-t-0 border-[#DBF4FF]"
                                                        aria-labelledby="hs-basic-nested-sub-heading-one">
                                                        <div class="py-5">
                                                            <ul class="mb-6 menuChecklist bg-[#f0f7fa] py-2">
                                                                <% if(pages.length> 0) { %>
                                                                    <% pages.forEach(page=> { %>
                                                                        <li class="px-3 py-2">
                                                                            <label class="text-sm font-normal">
                                                                                <input type="checkbox" name="pages"
                                                                                    class="mr-1 checkbox"
                                                                                    value="<%= page._id %>" />
                                                                                <%= page.page_name %>
                                                                            </label>
                                                                        </li>
                                                                        <% }) %>
                                                                            <% } else { %>
                                                                                <li class="px-3 py-2">
                                                                                    <a href="/admin/pages/create"
                                                                                        class="btn btn-primary">Add
                                                                                        Page</a>
                                                                                </li>
                                                                                <% } %>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- text editor end -->
                                                <!-- custom HTML start -->
                                                <div class="mb-4 hs-accordion" id="hs-basic-nested-sub-heading-two">
                                                    <button
                                                    class="hs-accordion-toggle hs-accordion-active:text-[#007bff] hover:text-[#007bff] py-4 px-4 inline-flex items-center gap-x-3 w-full justify-between text-black font-medium bg-background-gradient rounded-[5px] border border-[#B1D5FF] hs-accordion-active:rounded-b-none hs-accordion-active:border-b-0 shadow-custom"
                                                        aria-controls="hs-basic-nested-sub-collapse-two">
                                                        Posts
                                                        <svg class="block w-4 h-4 hs-accordion-active:hidden"
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round">
                                                            <path d="m6 9 6 6 6-6" />
                                                        </svg>
                                                        <svg class="hidden w-4 h-4 hs-accordion-active:block"
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round">
                                                            <path d="m18 15-6-6-6 6" />
                                                        </svg>
                                                    </button>
                                                    <div id="hs-basic-nested-sub-collapse-two"
                                                        class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300 px-4 border border-t-0 border-[#DBF4FF]"
                                                        aria-labelledby="hs-basic-nested-sub-heading-two">
                                                        <div class="py-5">
                                                            <ul class="mb-6 menuChecklist bg-[#f0f7fa] py-2">
                                                                <% if(posts.length> 0) { %>
                                                                    <% posts.forEach(post=> { %>
                                                                        <li class="px-3 py-2">
                                                                            <label class="text-sm font-normal">
                                                                                <input type="checkbox" name="posts"
                                                                                    class="mr-1 checkbox"
                                                                                    value="<%= post._id %>" />
                                                                                <%= post.title %>
                                                                            </label>
                                                                        </li>
                                                                        <% }) %>
                                                                            <% } else { %>
                                                                                <li class="px-3 py-2">
                                                                                    <a href="/post/create"
                                                                                        class="btn btn-primary">Add
                                                                                        Post</a>
                                                                                </li>
                                                                                <% } %>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- custom HTML end -->
                                                <!-- custom HTML start -->
                                                <div class="mb-4 hs-accordion" id="hs-basic-nested-sub-heading-three">
                                                    <button
                                                    class="hs-accordion-toggle hs-accordion-active:text-[#007bff] hover:text-[#007bff] py-4 px-4 inline-flex items-center gap-x-3 w-full justify-between text-black font-medium bg-background-gradient rounded-[5px] border border-[#B1D5FF] hs-accordion-active:rounded-b-none hs-accordion-active:border-b-0 shadow-custom"
                                                        aria-controls="hs-basic-nested-sub-collapse-three">
                                                        Custom Links
                                                        <svg class="block w-4 h-4 hs-accordion-active:hidden"
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round">
                                                            <path d="m6 9 6 6 6-6" />
                                                        </svg>

                                                        <svg class="hidden w-4 h-4 hs-accordion-active:block"
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round">
                                                            <path d="m18 15-6-6-6 6" />
                                                        </svg>
                                                    </button>
                                                    <div id="hs-basic-nested-sub-collapse-three"
                                                        class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300 px-4 border border-t-0 border-[#DBF4FF]"
                                                        aria-labelledby="hs-basic-nested-sub-heading-three">
                                                        <div class="py-5">
                                                            <ul class="mb-6 menuChecklist bg-[#f0f7fa] py-2">
                                                                <li class="flex flex-col px-3 py-2 sm:flex-row">
                                                                    <label class="w-40 text-sm font-normal"
                                                                        for="custom-menu-item-url">URL</label>
                                                                    <input name="customLinks[][url]"
                                                                        id="custom-menu-item-url" type="text"
                                                                        class="sm:ml-3" placeholder="https://">

                                                                </li>
                                                                <li class="flex flex-col px-3 py-2 sm:flex-row">
                                                                    <label class="w-40 text-sm font-normal"
                                                                        for="custom-menu-item-name">Link
                                                                        Text</label>
                                                                    <input name="customLinks[][text]"
                                                                        id="custom-menu-item-name" type="text"
                                                                        class="sm:ml-3">
                                                                </li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- custom HTML end -->
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Add menu items end -->
                                    <!-- Menu Structure start -->
                                    <div class="w-full md:w-3/5 ">
                                        <h2 class="mb-7 text-lg font-medium text-black">
                                            Menu structure
                                        </h2>
                                        <div id="menuCreationForm" class="" <% if (menus.length> 0) { %>style="display: block;"<%
                                                } else { %>style="display: none;"<% } %>>
                                                    <div class="flex sm:flex-row items-center bg-background-gradient rounded-[5px] p-4 gap-4 border border-[#B1D5FF] rounded-b-none">
                                                        <label class="text-sm font-normal" for="menu-name">Menu Name</label>
                                                        <input name="menuName" id="menu-name" type="text" class="w-96 border border-[#B1D5FF] rounded-[5px] py-2 px-4 font-normal text-sm bg-white bg-opacity-95" aria-describedby="menu-name-desc" placeholder="Enter Menu Name">
                                                    </div>
                                                    
                                                    <div class="p-4 border border-[#E0EEFF]">
                                                        <p class="text-[#03316A] text-xs">
                                                            Add menu items from the column on the left.
                                                        </p>
                                                        <div class="flex sm:flex-row items-start gap-20 mt-11">
                                                            <h5 class="text-black font-medium text-lg">Display location</h5>
                                                            <div class="">
                                                                <div class="flex items-center mb-4">
                                                                    <input id="header-menu" name="headerMenu" type="checkbox" value="true" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">                                                                    <label for="header-menu" class="ms-2 text-sm font-normal text-black dark:text-gray-300">Header Menu</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="flex justify-start bg-background-gradient rounded-[5px] p-4 gap-4 border border-[#B1D5FF] rounded-t-none publishing-action">
                                                        <button id="saveMenu" type="submit" class="py-2 w-24 text-white bg-[#007BFF] rounded-[2px] text-sm font-normal">
                                                            Save Menu
                                                        </button>
                                                    </div>
                                        </div>
                                    </div>
                                    <!-- Menu Structure end -->
                            </form>
                </div>
                   
                        <% if (error) { %>
                            <script>
                                alert("<%= error %>");
                            </script>
                            <% } %>
                                </main>
                                <!-- main content end here -->
                                <%- include('../script/script.ejs') %>
                                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
                                <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
                                    <script>

                                        $(document).ready(function () {
                                             $('#createMenu').click(function () {
                                                 $('#menuCreationForm').show();
                                                 $(this).parents('.noMenu').hide();
                                            });
                    //                         $('#createMenu').click(function () {
                    //                             $('#menuCreationForm').show();
                    //     window.location.href = '/appearance/nav-menu';
                    // });

                    $('#select-button').click(function () {
    var menuId = $('#select-menu-to-edit').val();
    if (menuId === "No menus exist") {
        Toastify({
            text: "First create a menu before selecting it.",
            duration: 3000,
            close: true,
            gravity: "top", // `top` or `bottom`
            position: 'right', // `left`, `center` or `right`
            backgroundColor: "rgb(255 15 15 / 42%)",
            stopOnFocus: true, // Prevents dismissing of toast on hover
        }).showToast();
    } else {
        window.location.href = '/appearance/edit-menu/' + menuId;
    }
});
                                            // Add event listener for form submission
                                            $('.update-page-post-custom').last().click(function (event) {
                                                event.preventDefault(); // Prevent the default form submission
                                                // Get the index of the button that was clicked
                                                var index = $('.update-page-post-custom').index(this);

                                                // Get the values from the updated_name and parent field for this button
                                                var updatedName = $(`#updated_name${index}`).val();
                                                var parent = $(`#parent${index}`).val();

                                                // Create an object containing the updated name and parent for this menu item
                                                var formData = {
                                                    updated_name: updatedName,
                                                    parent: parent
                                                };

                                                // AJAX call to submit the form data
                                                $.ajax({
                                                    url: '/appearance/show-menu',
                                                    type: 'POST',
                                                    data: { menus: formData },
                                                    success: function (response) {
                                                        // Handle success response
                                                        console.log(response);
                                                    },
                                                    error: function (error) {
                                                        // Handle error response
                                                        console.error(error);
                                                    }
                                                });
                                            });
                                        });

                                        function addAccordionToggleListener() {
                                            document.querySelectorAll('.hs-accordion-toggle').forEach(button => {
                                                button.addEventListener('click', (event) => {
                                                    event.preventDefault(); // prevent form submission
                                                    const content = button.nextElementSibling;
                                                    
                                                    if (content.style.display === "none" || content.style.display === "") {
                                                        content.style.display = "block";
                                                    } else {
                                                        content.style.display = "none";
                                                    }
                                                });
                                            });
                                        }
                                        // Trigger the 'change' event on page load to load the details of the selected menu
                                        window.onload = function () {
                                            document.getElementById('select-menu-to-edit').dispatchEvent(new Event('change'));
                                        };
                                        document.getElementById('remove-button').addEventListener('click', function () {
    var menuId = document.getElementById('select-menu-to-edit').value;
    fetch('/appearance/delete-menu/' + menuId, {
        method: 'DELETE',
    })
        .then(response => response.json())
        .then(data => {
            console.log(data.message);
            // Show a Toastify notification with the message
            Toastify({
                text: data.message,
                duration: 3000,
                close: true
            }).showToast();

            // Remove the menu from the select menu
            var selectMenu = document.getElementById('select-menu-to-edit');
            var options = selectMenu.options;
            for (var i = 0; i < options.length; i++) {
                if (options[i].value == menuId) {
                    selectMenu.remove(i);
                    break;
                }
            }
        })
        .catch(error => console.error('Error:', error));
});


                                        var allNames = [];
                                        $(document).ready(function () {
                                            $('#select-menu-to-edit').change(function () {
                                                const menuId = $(this).val();
                                                $.ajax({
                                                    url: `/appearance/get-menu-details/${menuId}`,
                                                    type: 'GET',
                                                    success: function (menu) {
                                                        // Check that menu has pages, posts, and customLinks properties
                                                        if (!menu.pages || !menu.posts || !menu.customLinks) {
                                                            console.error('Invalid menu object:', menu);
                                                            return;
                                                        }
                                                        // Clear the existing buttons
                                                        $('#page-post-custom').empty();

                                                        // Add a button for each page, post, and custom link in the menu
                                                        allNames = menu.pages.map(page => page.page_name)
                                                            .concat(menu.posts.map(post => post.title))
                                                            .concat(menu.customLinks.map(link => link.text));

                                                        allNames.forEach((name, index) => addButton(name, allNames, index));
                                                        console.log(allNames);

                                                        addAccordionToggleListener();
                                                    }
                                                });
                                            });
                                        });

                                        function addButton(name, allNames, index) {
                                                // If the name is empty, don't add the button
    if (!name) {
        return;
    }
    
                                            $('#page-post-custom-name').text(name);
                                            $('#page-post-custom').append(`
                                            <div data-name="" class="hs-accordion "
                                            id="hs-basic-nested-sub-heading-colOne ">
            <button class="hs-accordion-toggle relative hs-accordion-active:text-[#007bff] hover:text-[#007bff] py-4 px-4 inline-flex items-center gap-x-3 w-full justify-between text-black font-medium bg-background-gradient rounded-[5px] border border-[#B1D5FF] hs-accordion-active:rounded-b-none hs-accordion-active:border-b-0 shadow-custom mb-5" aria-controls="hs-basic-nested-sub-collapse-colOne">
                <span class="text-xs text-black font-normal absolute top-2 right-5">Page</span>
                ${name}
                <svg class="block w-4 h-4 hs-accordion-active:hidden " xmlns="http://www.w3.org/2000/svg " width="24 " height="24 "
                    viewBox="0 0 24 24 " fill="none " stroke="currentColor " stroke-width="2 " stroke-linecap="round " stroke-linejoin="round ">
                    <path d="m6 9 6 6 6-6 " />
                </svg>
                <svg class="hidden w-4 h-4 hs-accordion-active:block " xmlns="http://www.w3.org/2000/svg " width="24 " height="24 "
                    viewBox="0 0 24 24 " fill="none " stroke="currentColor " stroke-width="2 " stroke-linecap="round " stroke-linejoin="round ">
                    <path d="m18 15-6-6-6 6 " />
                </svg>
            </button>
            <div id="hs-basic-nested-sub-collapse-colOne " class="hs-accordion-content w-full hidden overflow-hidden transition-[height] duration-300 px-4 border border-t-0 border-[#DBF4FF]" aria-labelledby="hs-basic-nested-sub-heading-colOne mb-4">
                <div class="pt-5 ">
                    <div class="mt-6 mb-4 form-group">
                        <label class="mb-2 text-xs font-normal" for="updated_name${index}">Name</label>
                        <input id="updated_name${index}" name="updated_name" type="text" class="rounded-[5px] border border-[#B1D5FF] py-3 px-4 w-full" value ="${name}" placeholder="Enter the updated name">
                    </div>
                    <div class="mb-4 form-group ">
                        <label class="mb-2 text-xs font-normal" for="parent${index}">Parent </label>
<select id="parent${index}" name="parent" class="w-full border border-[#B1D5FF] rounded-[5px] p-4 font-normal text-sm mb-3 bg-white bg-opacity-95">
    <option value="">Select the parent</option>
    ${allNames.map(name => `<option value="${name}">${name}</option>`).join('')}
</select>
        </div>
                </div>
                <button type="submit" class="update-page-post-custom py-2 w-24 text-white bg-[#007BFF] rounded-[2px] text-sm font-normal mb-3">Save</button>
            </div>
            </div>
        `);
                                        }
                                    </script>
    </body>

    </html>