<%- (include('../../frontend/head/head.ejs')) %>
<body class="font-custom">
    <!-- header start here -->
        <%- (include('../../frontend/head/header.ejs')) %>

    <!-- header end here -->
    <!-- content section start -->

    <div class="content-block mb-5">
        <div class="container pt-5">
            <div class="flex justify-center">
                <div class="w-full md:w-12/12">
                    <div class="bg-white shadow-lg rounded-lg p-5">
                        <h1 class="my-3 text-center">Words By Length</h1>
                        <ul class="my-3">
                            <% letters.forEach(contains => { %>
                                <li><a href="/words-with/<%= contains.toLowerCase() %>">Words with <%= contains %></a></li>
                            <% }) %>
                            <% letters.forEach(contains_char1 => { %>
                                <% letters.forEach(contains_char2 => { %>
                                    <% if(contains_char1 !== contains_char2) { %>
                                        <li><a href="/words-with/<%= contains_char1.toLowerCase() %>/and/<%= contains_char2.toLowerCase() %>">Words with <%= contains_char1 %> and <%= contains_char2 %></a></li>
                                    <% } %>
                                <% }) %>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="/category/words-with-letters?page=<%= Number(page) - 1 %>">Previous</a>
    <a href="/category/words-with-letters?page=<%= Number(page) + 1 %>">Next</a>
    <!-- content section end -->
    <!-- footer start  -->
    <%- (include('../../frontend/footer/footer.ejs')) %>
    <!-- footer end  -->
<%- (include('../../frontend/script/script.ejs')) %>